.search-wrapper__panel {
    background: $postColor;
    flex-grow: 10;
}

.panel {
    border: 1px solid $borderColor;
    border-radius: 4px;
    padding: 8px;
    margin-right: 20px;

    &:focus {
        transition: 0.2s ease-in-out;
        border: 3px solid $activeColor;
        box-shadow: 0 0 0 4px $hoverColor;
        outline: none;
        padding: 6px;

    }

    &:hover {
        transition: 0.2s ease-in-out;
        border: 3px solid $activeColor;
        padding: 6px;
    }

}