
// colors vars

$bcgColor: #fcecdd;
$borderColor: #ff6701;
$activeColor: #ffc288;
$textColor: #474747e0;
$mainTextColor: #141414f5;

// style

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $bcgColor;
  color: $textColor;
  @include mainFont;
}

body,
h1,
h2,
h3,
h4,
p,
input,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}